#!/usr/bin/make -f

export GOPATH=$(CURDIR)/obj-x86_64-linux-gnu
export GOBIN=$(CURDIR)/obj-x86_64-linux-gnu/bin

%:
	dh $@ --buildsystem=golang

override_dh_auto_build:
	go install github.com/hashicorp/packer@latest

override_dh_auto_test:
	go test

override_dh_auto_install:
	dh_auto_install -- --no-source
